*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-top: 1.1rem;
  overflow-x: hidden;
}
.login_container .login_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.login_container .login_page--img_preview {
  min-width: 465px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login_container .login_page--details, .login_container .login_page--signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  padding-bottom: 0;
  max-width: 21.875rem;
  height: auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
}
.login_container .login_page--details > .logo_container, .login_container .login_page--signup > .logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
.login_container .login_page--details > .logo_container img, .login_container .login_page--signup > .logo_container img {
  width: 60%;
}
.login_container .login_page--details > .login_form, .login_container .login_page--signup > .login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.login_container .login_page--details > .login_form input, .login_container .login_page--signup > .login_form input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250, 250, 250);
  outline: none;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  color: black;
}
.login_container .login_page--details > .login_form input:focus, .login_container .login_page--signup > .login_form input:focus {
  outline: auto;
  outline-width: 0.5px;
  outline-color: rgb(219, 219, 219);
}
.login_container .login_page--details > .login_form input::-moz-placeholder, .login_container .login_page--signup > .login_form input::-moz-placeholder {
  color: rgb(150, 150, 150);
}
.login_container .login_page--details > .login_form input:-ms-input-placeholder, .login_container .login_page--signup > .login_form input:-ms-input-placeholder {
  color: rgb(150, 150, 150);
}
.login_container .login_page--details > .login_form input::placeholder, .login_container .login_page--signup > .login_form input::placeholder {
  color: rgb(150, 150, 150);
}
.login_container .login_page--details > .login_form > button, .login_container .login_page--signup > .login_form > button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(0, 149, 246);
  color: white;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0.5rem;
}
.login_container .login_page--details > .or-seperator, .login_container .login_page--signup > .or-seperator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
  color: rgb(150, 150, 150);
  font-size: 0.75rem;
  font-weight: 600;
}
.login_container .login_page--details > .or-seperator span, .login_container .login_page--signup > .or-seperator span {
  width: 40%;
  height: 1px;
  background-color: rgb(219, 219, 219);
}
.login_container .login_page--details > .facebook_login, .login_container .login_page--signup > .facebook_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;
  width: 100%;
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(59, 89, 152);
  margin: 0.9rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login_container .login_page--details > .facebook_login img, .login_container .login_page--signup > .facebook_login img {
  width: 1rem;
  pointer-events: none;
}
.login_container .login_page--details > .wrong_message, .login_container .login_page--signup > .wrong_message {
  display: none;
  width: 100%;
  text-align: center;
}
.login_container .login_page--details > .wrong_message > .wrong_text, .login_container .login_page--signup > .wrong_message > .wrong_text {
  color: rgb(237, 73, 86);
  font-size: 0.8rem;
  font-weight: 400;
  margin: 1.25rem 0;
}
.login_container .login_page--details > .forgot_password, .login_container .login_page--signup > .forgot_password {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}
.login_container .login_page--details > .forgot_password a, .login_container .login_page--signup > .forgot_password a {
  color: rgb(0, 55, 107);
  font-weight: 400;
  text-decoration: none;
}
.login_container .login_page--signup {
  padding: 1.5rem 2.5rem;
}
.login_container .login_page--signup p {
  font-size: 0.9rem;
}
.login_container .login_page--signup a {
  text-decoration: none;
  color: rgb(0, 149, 246);
  font-weight: 500;
}
.login_container .login_page--get_app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 21.875rem;
  height: auto;
  gap: 0.5rem;
  margin-top: 0.7rem;
}
.login_container .login_page--get_app--text {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.login_container .login_page--get_app--content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 1rem;
}
.login_container .login_page--get_app--content > .login_img_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 3.5rem;
  border-radius: 3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.login_container .login_page--get_app--content > .login_img_container img {
  max-width: 100%;
  pointer-events: none;
}
.login_container .login_page--get_app--content :nth-child(2) {
  max-width: 32.5%;
}
.login_container .login_footer {
  width: 100vw;
  height: 16vh;
}
.login_container .login_footer--content {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: 1.2rem;
}
.login_container .login_footer--content > .footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
}
.login_container .login_footer--content > .footer-links a {
  text-decoration: none;
  color: rgb(150, 150, 150);
  font-size: 0.75rem;
  font-weight: 400;
}
.login_container .login_footer--content > .footer-links a:hover {
  text-decoration: underline;
}
.login_container .login_footer--content > .footer-others {
  display: flex;
  gap: 0.9rem;
  font-size: 0.75rem;
  color: rgb(150, 150, 150);
}
.login_container .login_footer--content > .footer-others > .language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}/*# sourceMappingURL=index.css.map */