@import "font";
@import "variables";

@mixin px1263 {
    @media only screen and (max-width: 1263px) {
        @content;
    }
}

@mixin px1000 {
    @media only screen and (max-width: 1000px) {
        @content;
    }
}

@mixin px767 {
    @media only screen and (max-width: 767px) {
        @content;
    }
}

@mixin px470 {
    @media only screen and (max-width: 470px) and (min-width: 0px) {
        @content;
    }
}

@mixin px735 {
    @media only screen and (max-width: 735px) {
        @content;
    }
}

$dm-red: rgb(255, 48, 64);
$search-bg: rgb(239, 239, 239);
$navbar-width: 15.25rem;

.home_container {
    $navbar-logo-height: 6.9375rem;
    $main-content-padding-top: 1.7rem;
    display: none;
    width: 100vw;
    min-height: 100vh;
    background-color: $secondary-background;

    #{&}--navbar {
        @include flex(column, space-between, stretch);

        @include px1263 {
            $navbar-width: 4.5rem;
            max-width: $navbar-width;
        }
        
        @include px767 {
            display: none;
        }

        overflow-y: hidden;
        position: fixed;
        z-index: 1;
        max-width: $navbar-width;
        min-height: 100vh;
        background-color: $primary-background;
        border-right: 1px solid $border-color;

        & > .navbar_logo {
            max-width: 63%;
            height: $navbar-logo-height;
            user-select: none;

            @include px1263 {
                @include flex(row, center, center);
                $navbar-logo-height: 6.9rem;
                max-width: 100%;
                height: $navbar-logo-height;
            }

            :nth-child(1) {
                width: 100%;
                padding: 2.4rem 1.5rem;

                @include px1263 {
                    display: none;
                }
            }

            :nth-child(2) {
                display: none;
                
                @include px1263 {
                    display: block;
                    width: 100%;
                    padding: 30%;
                }
            }
        }

        & > .navbar_links_container {
            @include flex(column, flex-start, center);
            gap: 1rem;
            position: absolute;
            top: $navbar-logo-height;
            width: 100%;

            & > div {
                @include flex(row, flex-start, center);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                user-select: none;
                border-radius: 2rem;
                padding: 0.5rem 1.2rem;
                width: 90%;
                gap: 0.9rem;

                @include px1263 {
                    width: 70%;
                    @include flex(row, center, center);
                    border-radius: 50%;
                    gap: 1.3rem;
                }

                &:hover {
                    background-color: $secondary-background;
                }

                & > .navlink_icon > img {
                    transition: all 0.2s ease-in-out;
                    width: 1.75rem;
                    margin-left: -0.7rem;

                    @include px1263 {
                        width: 1.9rem;
                        margin-left: 0;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                & > .navlink_text {
                    font-size: 1rem;
                    font-weight: getFontWeight(normal);

                    @include px1263 {
                        display: none;
                    }
                }

                & > .navlink_text.active {
                    font-weight: getFontWeight(medium);
                }
            }

            & > .navlink_profile {
                & > .navlink_icon > img {
                    border-radius: 50%;
                }
            }

            & > .navlink_messages > .navlink_icon {
                &::after {
                    content: "25";
                    color: white;
                    font-size: 0.7rem;
                    position: absolute;
                    padding: 0.2rem 0.4rem;
                    background-color: $dm-red;
                    border-radius: 0.7rem;
                    border: 1px solid white;
                    transform: translate(-50%, -25%);
                }
            }
        }

        & > .navbar_more_container {
            @include flex(row, center, center);
            user-select: none;
            width: 100%;
            padding-bottom: 1.5rem;

            @include px1263 {
                padding-bottom: 2rem;
            }

            & > .navbar_more {
                @include flex(row, flex-start, center);
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                border-radius: 2rem;
                padding: 0.5rem 1.2rem;
                gap: 0.9rem;
                width: 90%;
                margin-top: 3.7rem;

                @include px1263 {
                    width: 70%;
                    @include flex(row, center, center);
                    border-radius: 50%;
                    gap: 1.3rem;
                }

                &:hover {
                    background-color: $secondary-background;
                }

                & > .navbar_more--icon {
                    & > img {
                        transition: all 0.2s ease-in-out;
                        width: 1.75rem;
                        margin-left: -0.7rem;

                        @include px1263 {
                            width: 1.9rem;
                            margin-left: 0;
                        }

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                & > .navbar_more--text {
                    transform: translateY(-14%);
                    font-size: 1rem;
                    font-weight: getFontWeight(normal);

                    @include px1263 {
                        display: none;
                    }
                }
            }
        }
    }

    #{&}--navbar_mobile {
        display: none;
        
        @include px767 {
            display: block;
            position: fixed;
            min-height: 100%;
            z-index: 999;
            $main-content-padding-top: 3.7rem;

            & > .navbar--top_container {
                width: 100vw;
                height: $main-content-padding-top;
                background-color: $primary-background;
                border-bottom: 1px solid $border-color;
                position: absolute;
                top: 0; left: 0; right: 0;
                
                & > .navbar_top_left {
                    @include flex(row, center, center);
                    height: 100%;
                    width: 9rem;
                    gap: 0.4rem;
                    position: absolute;
                    left: 0; top: 0;
                    
                    & > .down_arrow {
                        user-select: none;
                        pointer-events: none;
                    }
                    
                    img {
                        width: 6.4rem;
                        cursor: pointer;
                        height: auto;
                        user-select: none;
                    }
                }
                
                & > .navbar_top_right {
                    @include flex(row, center, center);
                    height: 100%;
                    width: 20.1rem;
                    margin-right: 1rem;
                    position: absolute;
                    right: 0; top: 0;

                    & > .search_bar_container {
                        @include flex(row, center, center);
                        height: 100%;
                        width: 80%;

                        & > .search_icon {
                            user-select: none;
                            pointer-events: none;
                            @include flex(row, flex-end, center);
                            width: 15%;
                            height: 60%;
                            padding: 0 .5rem;
                            background-color: $search-bg;
                            border-radius: .6rem 0 0 .6rem;
                            
                            img {
                                width: 1.2rem;
                            }
                        }
                        
                        & > .search_bar {
                            @include flex(row, flex-start, center);
                            width: 85%;
                            height: 60%;
                            padding: 0 0.5rem;
                            background-color: $search-bg;
                            border-radius: 0 .6rem .6rem 0;
                            transform: translateX(-1.5%);

                            input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                font-size: 1rem;
                                font-weight: getFontWeight(light);
                                color: black;

                                ::placeholder {
                                    color: $secondary-text;
                                }
                            }
                        }
                    }

                    & > .navlink_heart {
                        @include flex(row, center, center);
                        width: 20%;
                        height: 100%;
                        padding: 0 0rem;
                        cursor: pointer;
                        user-select: none;
                        transform: translateY(5%);

                        img {
                            width: 1.6rem;

                            &:hover {
                                transition: all 0.2s ease-in-out;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            & > .navbar--bottom_container {
                display: none;
                @include flex(row, space-evenly, center);
                gap: 4%;
                width: 100vw;
                height: calc($main-content-padding-top - 0.5rem);
                background-color: $primary-background;
                border-top: 1px solid $border-color;
                position: absolute;
                bottom: 0; left: 0; right: 0;
                
                & > div {
                    @include flex(row, center, center);
                    height: 100%;
                    
                    img {
                        width: 1.8rem;
                        
                        &:hover {
                            transition: all 0.2s ease-in-out;
                            transform: scale(1.1);
                            cursor: pointer;
                        }
                    }
                }

                & > .navlink_profile img {
                    border-radius: 50%;
                }  

                & > .navlink_messages {
                    &::after {
                        content: "25";
                        color: white;
                        font-size: 0.7rem;
                        position: absolute;
                        padding: 0.2rem 0.4rem;
                        background-color: $dm-red;
                        border-radius: 0.7rem;
                        border: 1px solid white;
                        transform: translate(50%, -50%);
                    }
                }
            }
        }   
    }

    #{&}--main {
        @include flex(row, center, flex-start);
        width: calc(100% - $navbar-width);
        transform: translateX($navbar-width);
        min-height: 100vh;
        padding-top: $main-content-padding-top;

        @include px1263 {
            $navbar-width: 4.5rem;
            width: calc(100% - $navbar-width);
            transform: translateX($navbar-width);
        }

        @include px767 {
            width: 100%;
            transform: translateX(0);
            padding-top: $main-content-padding-top + 1rem;
        }

        @include px470 {
            padding-top: calc($main-content-padding-top + 1px);
        }

        & > .main_page--content {
            width: 470px;
            min-height: 100vh;
            margin: -2rem 2rem 0;
            border-radius: 0.5rem;

            @include px767 {
                margin: 0 2rem;
            }

            @include px470 {
                margin: 0;
                min-width: none;
                max-width: 470px;
                width: 100%;
            }

            & > .stories_container {
                position: relative;
                width: 100%;
                height: 7.4375rem;
                background-color: $primary-background;
                border-radius: 0.5rem;
                border: 1px solid $border-color;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: 4.125rem;
                overflow-x: auto;
                overscroll-behavior-inline: contain;
                gap: 0.7rem;

                scroll-snap-type: inline mandatory;
                scroll-padding-inline: 1rem;

                @include px470 {
                    border-radius: 0 0 .5rem .5rem;
                }

                
                & > * {
                    scroll-snap-align: start;
                }
                
                & > .story {
                    @include flex(column, center, center);
                    // border: 1px solid lime;
                    margin: 1rem;
                    width: 4rem;
                    cursor: pointer;
                    user-select: none;
                    

                    & > .img_container {
                        @include flex(row, center, center);
                        width: 3.75rem;
                        height: 3.75rem;
                        border-radius: 50%;
                        padding: 0.175rem;
                        background: linear-gradient(to top right, yellow, orange, deeppink);
                        
                        & > img {
                            inline-size: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            border-radius: 50%;
                            pointer-events: none;
                            user-select: none;
                            border: 0.2rem solid white;
                        }
                    }
                    
                    & > .name {
                        font-size: 0.72rem;
                        font-weight: getFontWeight(normal);
                        color: $stories-font-color;
                        margin-top: 0.3rem;
                    }
                }
                
                & > :last-child {
                    width: 6rem;
                    transform: translateX(-1rem);

                    // &::after {
                    //     position: absolute;
                    //     content: ">";
                    //     text-align: center;
                    //     line-height: 2rem;
                    //     font-weight: getFontWeight(normal);
                    //     border-radius: 50%;
                    //     width: 2rem;
                    //     height: 2rem;
                    //     color: $secondary-text;
                    //     font-size: 1.5rem;
                    //     background-color: white;
                    //     top: 50%; right: 2rem;
                    //     transform: translateY(-50%);
                    //     cursor: pointer;
                    // }
                }
            }

            & > .posts_container {
                border-radius: 0.5rem;
                min-height: 120vh;
                width: 100%;
                margin-top: 1.1rem;
                padding-bottom: 4rem;

                & > .post {
                    @include flex(column, center, center);
                    width: 100%;
                    margin-bottom: .5rem;

                    & > .heading_container {
                        @include flex(row, space-between, center);
                        width: 100%;
                        height: 3.75rem;
                        background-color: $primary-background;
                        border-radius: 0.5rem 0.5rem 0 0;
                        border: 1px solid $border-color;
                        border-bottom: none;

                        & > .heading_left {
                            @include flex(row, center, center);
                            gap: 0.7rem;
                            padding: 0 0.75rem;
                            user-select: none;

                            & > .post_img_container {
                                @include flex(row, center, center);
                                width: 2rem;
                                height: 2rem;
                                border-radius: 50%;
                                background-color: $border-color;
                                cursor: pointer;
                                
                                & > img {
                                    inline-size: 100%;
                                    aspect-ratio: 1/1;
                                    object-fit: cover;
                                    border-radius: 50%;  
                                    pointer-events: none;
                                    user-select: none;
                                }
                            }

                            & > .post_username_container {
                                @include flex(column, flex-start, flex-start);
                                gap: 0.1rem;

                                & > .post_username {
                                    font-size: 0.75rem;
                                    font-weight: getFontWeight(medium);
                                    color: black;
                                    cursor: pointer;
                                }

                                & > .post_place {
                                    font-size: 0.7rem;
                                    font-weight: getFontWeight(normal);
                                    color: $stories-font-color;
                                    cursor: pointer;
                                }
                            }
                        }

                        & > .heading_right {
                            @include flex(row, center, center);
                            height: 100%;

                            & > .dots {
                                font-weight: getFontWeight(bblack);
                                padding-right: 1rem;
                                transform: translateY(-25%);
                                cursor: pointer;
                                user-select: none;
                            }
                        }
                    }

                    & > .post_container {
                        width: 100%;
                        aspect-ratio: 1/1;
                        background-color: $border-color;

                        img { 
                            inline-size: 100%;
                            aspect-ratio: 1/1;
                            object-fit: cover;
                            pointer-events: none;
                            user-select: none;
                        }
                    }

                    & > .post_info_container {
                        @include flex(column, center, center);
                        width: 100%;
                        background-color: $primary-background;
                        border: 1px solid $border-color;
                        z-index: 1;
                        border-top: none;
                        transform: translateY(-.5rem);

                        @include px735 {
                            border-radius: 0 0 0.5rem 0.5rem;
                        }

                        & > .post_reaction_icons {
                            @include flex(row, space-between, center);
                            width: 100%;
                            margin: .75rem 0;
                            user-select: none;

                            & > .container_left {
                                @include flex(row, center, center);
                                gap: 0.5rem;
                                margin-left: .4rem;

                                & > img {
                                    width: 1.5rem;
                                    margin: 0 .15rem;
                                    cursor: pointer;

                                    &:last-child {
                                        transform: rotate(-23deg) scale(1.25) translate(.3rem, -.2rem);
                                    }
                                }
                            }

                            & > .container_right {
                                @include flex(row, center, center);
                                margin-right: .4rem;

                                & > img {
                                    width: 1.5rem;
                                    margin: 0 .5rem;
                                    cursor: pointer;
                                }
                            }
                        }

                        & > .post_likes_container {
                            @include flex(row, flex-start, center);
                            width: 100%;
                            margin-bottom: .7rem;
                            margin-left: 1.2rem;
                            font-size: .8rem;
                            font-weight: getFontWeight(medium);
                            gap: .25rem;
                        }

                        & > .post_caption_container {
                            @include flex(row, flex-start, flex-start);
                            width: 100%;
                            margin-left: 1.2rem;
                            font-size: .8rem;
                            gap: .25rem;
                            margin-bottom: .7rem;

                            & > .post_caption_username {
                                font-weight: getFontWeight(medium);
                                cursor: pointer;
                            }

                            & > .post_caption {
                                width: 80%;
                            }
                        }

                        & > .view_comments_container {
                            @include flex(row, flex-start, center);
                            width: 100%;
                            margin-left: 1.2rem;
                            font-size: .85rem;
                            font-weight: getFontWeight(normal);
                            margin-bottom: .7rem;
                            cursor: pointer;
                            color: $secondary-text;
                        }

                        & > .hours_container {
                            @include flex(row, flex-start, center);
                            width: 100%;
                            margin-left: 1.2rem;
                            font-size: .6rem;
                            font-weight: getFontWeight(light);
                            margin-bottom: .7rem;
                            color: $secondary-text;
                        }
                    }

                    & > .post_comment_container {
                        @include flex(row, center, center);
                        width: 100%;
                        height: 3rem;
                        background-color: $primary-background;
                        border: 1px solid $border-color;
                        border-radius: 0 0 .5rem .5rem;
                        transform: translateY(calc(-.5rem - 1px));

                        @include px735 {
                            display: none;
                        }

                        & > .icon_container {
                            @include flex(row, center, center);
                            height: 100%;
                            width: 50px;
                            user-select: none;

                            img {
                                width: 60%;
                                cursor: pointer;
                            }
                        }

                        & > .post_comment_button {
                            @include flex(row, center, center);
                            height: 100%;
                            user-select: none;

                            button {
                                background-color: transparent;
                                color: $blue;
                                font-size: .9rem;
                                border: none;
                                cursor: pointer;
                                width: 65px;
                                font-weight: getFontWeight(bold);
                            }
                        }

                        & > .post_comment_box {
                            width: 355px;
                            height: 100%;

                            input {
                                width: 100%;
                                height: 100%;
                                border: none;
                                outline: none;
                                font-size: .9rem;
                                font-weight: getFontWeight(normal);
                                padding-left: .5rem;
                                color: $stories-font-color;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }

        & > .main_page--profile_info {
            @include flex(column, flex-start, center);
            height: 100vh;
            width: 20rem;
            margin-top: 1.5rem;
            margin-right: 4%;

            @include px1000 {
                display: none;
            }

            & > .profile {
                @include flex(row, space-between, center);
                width: 100%;

                & > .profile_image_container {
                    @include flex(row, center, center);
                    width: 18%;
                    cursor: pointer;
                    user-select: none;

                    img {
                        border-radius: 50%;
                        width: 100%;
                        pointer-events: none;
                    }
                }

                & > .username_container {
                    @include flex(column, center, flex-start);
                    width: 57%;
                    gap: 0.1rem;

                    & > .username {
                        cursor: pointer;
                        font-size: 0.9rem;
                        font-weight: getFontWeight(medium);
                    }

                    & > .name {
                        font-size: 0.9rem;
                        font-weight: getFontWeight(normal);
                        color: $secondary-text;
                    }
                }

                & > .switch_button_container > a {
                    text-decoration: none;
                    font-size: 0.8rem;
                    font-weight: getFontWeight(medium);
                    color: $blue;
                    user-select: none;
                }
            }

            & > .suggestions {
                width: 100%;
                margin: 1.2rem 0;

                & > .heading_container {
                    @include flex(row, space-between, center);
                    margin-bottom: 0.9rem;

                    & > .heading {
                        font-size: 0.9rem;
                        font-weight: getFontWeight(medium);
                        color: $secondary-text;
                    }

                    & > .see_all_container {
                        @include flex(row, center, center);

                        a {
                            text-decoration: none;
                            font-size: 0.75rem;
                            font-weight: getFontWeight(medium);
                            color: black;
                        }
                    }
                }

                & > .profile_container {
                    @include flex(column, center, center);
                    gap: 1rem;
                    margin: 0.55rem 0;
                    margin-left: 2%;
                    width: 98%;

                    & > .profile {
                        @include flex(row, space-between, center);

                        & > .profile_img_container {
                            @include flex(row, center, center);
                            width: 10%;

                            img {
                                user-select: none;
                                width: 100%;
                                border-radius: 50%;
                                user-select: none;
                            }
                        }

                        & > .username_container {
                            @include flex(column, center, flex-start);
                            gap: 0.2rem;
                            width: 69%;

                            & > .username {
                                @include flex(row, center, center);
                                gap: 0.15rem;
                                font-size: 0.8rem;
                                font-weight: getFontWeight(medium);
                                color: black;
                                cursor: pointer;
                                user-select: none;

                                img {
                                    width: 0.9rem;
                                    pointer-events: none;
                                }
                            }

                            & > .mutuals {
                                font-size: 0.8rem;
                                font-weight: getFontWeight(normal);
                                color: $secondary-text;
                            }
                        }

                        & > .follow_container {
                            @include flex(row, center, center);

                            a {
                                font-size: 0.75rem;
                                text-decoration: none;
                                color: $blue;
                                font-weight: getFontWeight(medium);
                                user-select: none;
                            }
                        }
                    }
                }
            }

            & > .more_info {
                width: 100%;

                & > .more_info--links_container {
                    @include flex(row, flex-start, center);
                    flex-wrap: wrap;
                    gap: 0.2rem;

                    & > .more_info--links_container--link {
                        @include flex(row, center, center);
                        gap: 0.2rem;

                        a {
                            line-height: 125%;
                            font-size: 0.75rem;
                            color: $link-home;
                            text-decoration: none;
                            font-weight: getFontWeight(light);

                            &:hover {
                                text-decoration: underline;
                            }

                            &:last-child:hover {
                                text-decoration: none;
                            }
                        }

                        span {
                            width: 2px;
                            height: 2px;
                            border-radius: 50%;
                            background-color: $link-home;
                        }
                    }
                }

                & > .more_info--others {
                    margin-top: 1.5rem;
                    font-size: 0.8rem;
                    color: $link-home;
                }
            }
        }
    }
}
